.component {
    display: inline-block;
    padding: 1em;
    margin: .3em; 
    transition: .5s;
}
.component.light {
    background-color: #eee;
    color: #111;
}
.component.dark {
    background-color: #111;
    color: #eee;
}